@import "tailwindcss";

:root {
    --circle-dur: 45s;  /* Default time to read wave information page */
}

@theme {
    --color-coastal-blue-light: #89c2d9;
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  animation: drawCircle var(--circle-dur) linear forwards;
}